body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

header {
    margin-bottom: 20px;
}

h1,
h2 {
    color: #333;
}

#definitionArea,
#inputArea,
#exampleArea,
#outputArea,
#stepsArea {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #e2dcdc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #c1b4b4;
}

#matrix1Elements,
#matrix2Elements {
    margin-top: 20px;
}


